<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>

<body class="bg-light">

<div th:replace="fragments.html :: main-nav"></div>
<!--    <div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">-->
<!--        JOB FLOW 가입을 완료하려면 <a href="#" th:href="@{/check-email(email=${account.email})}" class="alert-link">계정 인증 이메일을 확인</a>하세요.-->
<!--    </div>-->

<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-9">
            <table width="644" border="0" cellspacing="0" cellpadding="0" bordercolor="#ffffff"
                   style="border-collapse:collapse;" class="form2" align="center">
                <tr>
                    <td align="right">&nbsp;</td>
                </tr>
            </table>
            <table width="644" border="0" cellspacing="0" cellpadding="0" bordercolor="#ffffff"
                   style="border-collapse:collapse;" class="form10 col-sm-6" align="center">
                <tr valign="middle">
                    <td width="643" height="93" align="center" class="form23b">
                        근태 신청서
                    </td>
                </tr>
            </table>
            <table width="644" border="0" cellspacing="0" cellpadding="0" bordercolor="#ffffff"
                   style="border-collapse:collapse;" class="form2" align="center">
                <tr>
                    <td align="center" class="form16b" id="tms_auto_sign" style="float:right;">
                        <table width="200" border="1" cellspacing="0" cellpadding="0" bordercolor="#000000">
                            <tr>
                                <td width="50" align="center" class="form13b">신청자</td>
                                <td width="50" align="center" class="form13b">현장대리인</td>
                            </tr>
                            <tr>
                                <td height="60" align="center" class="form13" th:text="${account.userName}"></td>
                                <td height="60" align="center" class="form13" th:text="${company.fieldManager}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <form class="needs-validation col-sm-12"
                  th:action="@{/vacationApply}"
                  th:object="${vacationForm}" method="post" novalidate>
                <table width="644" border="1" cellspacing="0" cellpadding="0" bordercolor="#000000"
                       style="border-collapse:collapse;" align="center" class="form10">
                    <tr style="border-left: hidden; border-right: hidden; border-top: hidden;">
                        <td height="40" colspan="6" align="left" class="form13b">개인정보</td>
                    </tr>
                    <tr>
                        <td height="40" align="center" style="width: 90px" bgcolor="#D9E2F3" class="form10b">소&nbsp&nbsp;속</td>
                        <td align="center" class="form10" th:text="${account.part}"></td>
                        <td align="center" bgcolor="#D9E2F3" class="form10b">담당업무</td>
                        <td align="center" class="form10" th:text="${account.system}"></td>
                    </tr>
                    <tr>
                        <td height="40" colspan="1" align="center" bgcolor="#D9E2F3" class="form10b">성&nbsp&nbsp명</td>
                        <td width="188" align="center" class="form10" th:text="${account.userName}"></td>
                        <td width="79" align="center" bgcolor="#D9E2F3" class="form10b">직&nbsp&nbsp위</td>
                        <td width="182" align="center" class="form10" th:text="${account.companyPosition}"></td>
                    </tr>
                    <tr style="border-left: hidden; border-right: hidden; border-bottom: hidden;">
                        <td height="60" colspan="6" align="left" class="form10b"></td>
                    </tr>
                </table>
                <table width="644" border="1" cellspacing="0" cellpadding="0" bordercolor="#000000"
                       style="border-collapse:collapse;" align="center" class="form10">
                    <tr style="border-left: hidden; border-right: hidden; border-top: hidden;">
                        <td height="40" colspan="6" align="left" class="form13b">근태정보</td>
                    </tr>
                    <tr>
                        <td width="103" colspan="1" height="50" align="center" bgcolor="#D9E2F3" class="form10b">근태종류</td>
                        <td colspan="3" align="left" class="form10">
                            <table width="100%" border="0" class="form10">
                                <tr>
                                    <td height="40" rowspan="2" align="center">
                                        <div>연차&nbsp;<input type="radio" name="radioGroup" value="연차" checked="checked" th:field="*{OverTimeName}"/></div>
                                    </td>
                                    <td align="center">
                                        <div>반차(오전)&nbsp;<input type="radio" name="radioGroup" value="반차(오전)" th:field="*{OverTimeName}"/></div>
                                    </td>
                                    <td rowspan="2" align="center">
                                        <div>대체&nbsp;<input type="radio" name="radioGroup" value="대체" th:field="*{OverTimeName}"/>
                                        </div>
                                    </td>
                                    <td rowspan="2" align="center">
                                        <div>경조&nbsp;<input type="radio" name="radioGroup" value="경조" th:field="*{OverTimeName}"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div id="aa7">반차(오후)&nbsp;<input type="radio" name="radioGroup" value="반차(오후)" th:field="*{OverTimeName}"/></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="40" colspan="1" align="center" bgcolor="#D9E2F3" class="form10b">일&nbsp;&nbsp;정</td>
                        <td align="left" class="form10">
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                                   bordercolor="#ffffff" class="form2" style="border-collapse:collapse;">
                                <tr>
                                    <td width="30%" align="left" class="form2">
                                        <input id="startDateTime" type="date" th:field="*{startDateTime}" class="form-control"
                                               aria-describedby="startDateTimeHelp" required>
                                    </td>
                                    <td width="12%" align="center" class="form2">~</td>
                                    <td width="30%" align="left" class="form2">
                                        <input id="endDateTime" type="date" th:field="*{endDateTime}" class="form-control"
                                               aria-describedby="endDateTimeHelp" required>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="130" align="center" bgcolor="#D9E2F3" class="form10b">휴가일수</td>
                        <td align="center" class="form10">
                            <input id="vacationSum" type="text" class="form-control" th:field="*{vacationSum}" required>
                        </td>
                    </tr>
                    <tr>
                        <td height="40" colspan="1" align="center" bgcolor="#D9E2F3" class="form10b">비&nbsp;&nbsp;고</td>
                        <td colspan="3" align="left" class="form10">
                            <div tms_edit id="jic4" style="padding:3px">
                                <input id="remark" type="text" class="form-control" th:field="*{remark}" required>
                            </div>
                        </td>
                    </tr>
                    <tr style="border-left: hidden; border-right: hidden;">
                        <td height="80" colspan="6" align="left" class="form10b">* 비고: 반차(오전) -> 9시 ~ 14시/ 반차(오후) -> 14시
                            ~18시 <br> 경조휴가-경조사유 작성(예: 예비군훈련, 민방위훈련, 본인결혼 등)
                        </td>
                    </tr>
                    <tr style="border-left: hidden; border-right: hidden; border-top: hidden;">
                        <td height="40" colspan="6" align="left" class="form13b">기타정보</td>
                    </tr>
                    <tr>
                        <td height="40" colspan="1" align="center" bgcolor="#D9E2F3" class="form10b">비상연락처</td>
                        <td height="40" colspan="3" class="form10b">
                            <div tms_edit id="jic5" style="padding:3px" th:text="${account.emergencyNumber}"></div>
                        </td>
                    </tr>

                    <tr>
                        <td height="40" colspan="1" align="center" bgcolor="#D9E2F3" class="form10b"
                            style="cursor:hand;" onClick="javascript:fun('add_file')">업무대행자
                        </td>
                        <td height="40" colspan="3" class="form10b">
                            <div tms_edit id="jic6" style="padding:3px">
                                <input id="businessAgent" type="text" class="form-control" th:field="*{businessAgent}" required>
                            </div>
                        </td>
                    </tr>
                    <tr style="border-left: hidden; border-right: hidden; border-bottom: hidden;">
                        <td height="40" colspan="6">
                            <div class="form-group">
                                <button style="margin-top: 10px" class="btn btn-primary btn-block" type="submit"
                                        aria-describedby="submitHelp">휴가 신청
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>
<script th:replace="fragments.html :: editor-script"></script>
<script th:replace="fragments.html :: tooltip"></script>

</body>
</html>