<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
<!--    <div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">-->
<!--        JOB FLOW 가입을 완료하려면 <a href="#" th:href="@{/check-email(email=${account.email})}" class="alert-link">계정 인증 이메일을 확인</a>하세요.-->
<!--    </div>-->

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row p-3" style="display:flow-root;" sec:authorize="hasRole('ROLE_ADMIN')">
            <button type="button" class="btn btn-secondary" style="float:right; margin-right:5px;">
                <a class="text-white" id="deleteMember">삭제</a>
            </button>
            <button type="button" class="btn btn-secondary" style="float:right; margin-right:5px;">
                <a class="text-white" id="updateMember">수정</a>
            </button>
            <button type="button" class="btn btn-secondary" style="float:right; margin-right:5px;">
                <a class="text-white" th:href="@{/sign-up}">입력</a>
            </button>
        </div>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">직원 명단</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="display: none;">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>이메일</th>
                            <th>회사이름</th>
                            <th>입사일자</th>
                            <th>퇴사일자</th>
                            <th>파트구분</th>
                            <th>시스템구분</th>
                            <th>Biz Group</th>
                            <th>회사아이디</th>
                            <th>전화번호</th>
                            <th>English-Name</th>
                            <th>DL-Group-Name</th>
                            <th>Card Number</th>
                            <th>비상연락번호</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="data : ${accountList}">
                            <td th:text="${data.id}"></td>
                            <td th:text="${data.email}"></td>
                            <td th:text="${data.companyName}"></td>
                            <td th:text="${data.startWorkTime}"></td>
                            <td th:text="${data.endWorkTime}"></td>
                            <td th:text="${data.part}"></td>
                            <td th:text="${data.system}"></td>
                            <td th:text="${data.bizGroup}"></td>
                            <td th:text="${data.nickname}"></td>
                            <td th:text="${data.contactNumber}"></td>
                            <td th:text="${data.engUserName}"></td>
                            <td th:text="${data.dlGroupName}"></td>
                            <td th:text="${data.cardNumber}"></td>
                            <td th:text="${data.emergencyNumber}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="fragments.html :: footer"></div>
    <div th:replace="fragments.html :: date-time"></div>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Page level custom scripts -->
    <script type="text/javascript" charset="utf8" src="/js/demo/datatables-demo.js"></script>

    <!-- Page level plugins -->
    <script type="text/javascript" charset="utf8" src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <!-- button plugins -->
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#updateMember').click(function(){
                let userData = $('#dataTable').DataTable().rows('.selected').data();

                if( userData[0] == null) {
                    alert('대상을 선택해 주세요.');
                    return;
                }

                let updateId = userData[0][0];

                location.href="update-member/"+updateId;
            });

            $('#deleteMember').click(function(){
                let userData = $('#dataTable').DataTable().rows('.selected').data();

                if( userData[0] == null) {
                    alert('대상을 선택해 주세요.');
                    return;
                }

                let deleteId = userData[0][0];

                $.ajax({
                    type: 'DELETE',
                    url: '/settings/member/'+deleteId,
                    contentType:'application/json; charset=utf-8'
                }).done(function() {
                    alert('회원이 삭제되었습니다.');
                    window.location.href = '/members';
                }).fail(function (error) {
                    alert(JSON.stringify(error));
                });
            });
        });
    </script>

    <script>

    </script>
</body>
</html>